<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summer Eletro Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="stylesheet" href="static\css\style.css" />
    <!-- ColoPicker -->
    <link rel="stylesheet" href="static\css\colorPicker.css">
    <!-- Toggle Button -->
    <link rel="stylesheet" href="static\css\toggleButton.css">
    <!-- Round Slider (bagui circular) -->

    <link href="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js"></script>


</head>

<body id="corFundo"style="background-color:{{cor}}">
    <div class="container d-flex justify-content-center">

        <div class="row mt-5 col-11">
            <div class="col-lg" style="top: 0">
                <h1 style="text-align: center;">SummerEletroWeather</h1>

                <div class="row">

                    <div class="col-6 border">

                        <div class="row info-tempo">
                            <b style="font-size: large;" id="city">{{tempo.city}}</b>
                            <div class="row">
                                <div class="col">
                                    <img src="{{tempo_img}}" id="imagem" class="vaiKikarSim" alt="" srcset="" width="100px" height="90px">

                                </div>
                                <div class="col">
                                    <h2 style="font-weight: bolder;" id="temperatura">{{tempo.temp}}°</h2>

                                </div>
                            </div>
                            <span id="descricao">{{tempo.description}}</span> <br>
                            <hr>
                            <span id="vento">Vento: {{tempo.wind_speedy}}</span> <br>
                            <hr>
                            <span id="umidade">Umidade: {{tempo.humidity}}</span>
                        </div>

                    </div>

                    <div class="col-6 border">
                        <div class="col carousel carousel-dark slide" id="trailers" data-bs-ride="carousel"
                            data-bs-interval="false" style="margin-top:20px;">
                            <div class="carousel-indicators mt-5" style="margin-top: 20%;">
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="0" class="active"
                                    aria-current="false" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="5"
                                    aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="6"
                                    aria-label="Slide 7"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="7"
                                    aria-label="Slide 8"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="8"
                                    aria-label="Slide 9"></button>
                                <button type="button" data-bs-target="#trailers" data-bs-slide-to="9"
                                    aria-label="Slide 10"></button>
                            </div>
                            <div class="trailerSlider carousel-inner" style=" padding-bottom: 50px">

                                {%for dia in tempoProxDias%}
                                {%if loop.first%}
                                <div class="carousel-item active">
                                    <div id="cover">

                                        <div class="row">
                                            <div class="col justify-content-center d-flex">
                                                <h2>{{tempoProxDias[loop.index0].weekday}} -
                                                    {{tempoProxDias[loop.index0].date}}</h2>

                                            </div>
                                            <div class="col justify-content-end d-flex">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                                    height="16">
                                                    <path fill-rule="evenodd"
                                                        d="M3.22 9.78a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 0l4.25 4.25a.75.75 0 01-1.06 1.06L8 6.06 4.28 9.78a.75.75 0 01-1.06 0z">
                                                    </path>
                                                </svg>
                                                <span
                                                    style="color: rgb(255, 185, 47);">{{tempoProxDias[loop.index0].max}}°</span>

                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                                    height="16">
                                                    <path fill-rule="evenodd"
                                                        d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z">
                                                    </path>
                                                </svg>
                                                <span
                                                    style="color: rgb(38, 199, 248);">{{tempoProxDias[loop.index0].min}}°</span>
                                            </div>
                                        </div>
                                        {{tempoProxDias[loop.index0].description}}

                                    </div>
                                </div>
                                {%else%}
                                <div class="carousel-item">
                                    <div id="cover">
                                        <div class="row">
                                            <div class="col justify-content-center d-flex">
                                                <h2>{{tempoProxDias[loop.index0].weekday}} -
                                                    {{tempoProxDias[loop.index0].date}}</h2>

                                            </div>
                                            <div class="col justify-content-end d-flex">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                                    height="16">
                                                    <path fill-rule="evenodd"
                                                        d="M3.22 9.78a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 0l4.25 4.25a.75.75 0 01-1.06 1.06L8 6.06 4.28 9.78a.75.75 0 01-1.06 0z">
                                                    </path>
                                                </svg>
                                                <span
                                                    style="color: rgb(255, 185, 47);">{{tempoProxDias[loop.index0].max}}°</span>

                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                                    height="16">
                                                    <path fill-rule="evenodd"
                                                        d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z">
                                                    </path>
                                                </svg>
                                                <span
                                                    style="color: rgb(38, 199, 248);">{{tempoProxDias[loop.index0].min}}°</span>
                                            </div>
                                        </div>
                                        {{tempoProxDias[loop.index0].description}}
                                    </div>
                                </div>
                                {%endif%}
                                {%endfor%}
                            </div>

                        </div>
                        <!-- <a class="button" href="{{url_for('index')}}">Recarregar</a> -->
                    </div>


                </div>
                <div class="row">

                    <div class="col">
                        <div class="row">
                            <h4 style="font-weight: bolder;">Clima/Smart</h4>

                            <!-- Rectangular switch -->
                            <label class="switch">
                                <input type="checkbox" id="modo">
                                <span class="slider round"></span>
                            </label>

                        </div>

                        <div class="row">
                            <h4 style="font-weight: bolder;">Desligar - Ligar</h4>
                            <!-- Rectangular switch -->
                            <label class="switch estado">
                                <input type="checkbox" checked id="estado">
                                <span class="slider round"></span>
                            </label>

                        </div>
                    </div>

                    <div id="colorPickerMain" class="col justify-content-center">
                        <h3 id="escolheCor">Escolhe a cor</h3>
                        <span class="color-picker mt-5 ml-3">
                            <label for="colorPicker" class=" mt-5 ml-3">
                                <!-- disable="True" -->
                                <input type="color"  class="selectCor" value="#1DB8CE" id="colorPicker">
                                <input type="hidden" id="corSelecionada" value="">
                            </label>
                        </span>
                    </div>

                    <div class="col">
                        <!-- Segredinho -->
                    </div>

                </div>

            </div> <!-- COL -->
        </div>
        <script>
            $("#slider").roundSlider({
                radius: 80, // Grossura
                width: 20,  // Tamanho
                handleSize: "+5",
                sliderType: "min-range",
                value: 40,
                change: "enviaItensidade"
            });

        </script>

        <!-- ColorPicker -->
        <script src="static\js\colorPicker.js"></script>

        <!-- Bagui circular -->
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js"></script>

        <script src="static\js\metodosLampada.js"></script>
        <script src="static\js\recarregaConteudo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
</body>

</html>
